@page "/OrganizationManager"
@using Microsoft.Extensions.Localization
@using global::Jormundgandr.OrganizationManager.Localization
@inject IStringLocalizer<OrganizationManagerResource> L
@{
}
<h1>OrganizationManager</h1>
<p>@L["SamplePageMessage"]</p>